ion-input {
  font-family: "Saysettha OT";
  border: 1px solid #555;
  border-radius: 0.5rem;
  background-color: #fff;
}

._img{
    width: 100%;
    height: 12rem;
    object-fit: cover;
}
._err {
  color: red;
}