<ion-content>
  <ion-card class="_card">
    <img class="_img" src="{{img}}"/>
    <h1 class="_title">ເຂົ້າສູ່ລະບົບ</h1>
    <div class="_wrap">
      <ion-input
        type="email"
        placeholder="ອີເມລ໌"
        [(ngModel)]="data.email"
      ></ion-input>

      <ion-input
        type="password"
        placeholder="ລະຫັດຜ່ານ"
        [(ngModel)]="data.password"
      ></ion-input>

      <div class="_err" *ngIf="msg">{{msg}}</div>

      <ion-button class="_btn" (click)="onLogin()"> ເຂົ້າສູ່ລະບົບ </ion-button>
      <div>ຍັງທັນບໍ່ມີບັນຊີ. <a href="/register">ລົງທະບຽນ</a></div>
    </div>
  </ion-card>
</ion-content>
