<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="income">
      <ion-img src="../../assets/icon/income.png"></ion-img>
      <ion-label>ລາຍຮັບ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="expenses">
      <ion-img src="../../assets/icon/expenses.png"></ion-img>
      <ion-label>ລາຍຈ່າຍ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="earn">
      <ion-img src="../../assets/icon/earn.png"></ion-img>
      <ion-label>ອອນເງິນ</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-img src="../../assets/icon/user.png"></ion-img>
      <ion-label>ໂປຣໄຟລ໌</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
