/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  font-family: "Saysettha OT" !important;
}
._wrap {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

ion-content {
  --background: #85f4ff;
}
._card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  margin: 0;
  overflow-y: scroll;
}

._btn {
  width: 50%;
  font-size: 1em;
  --background: #42c2ff;
  margin: 1rem;
}

._title {
  text-align: center;
  text-shadow: 2px 2px 5px #42c2ff;
}

._err {
  color: red;
}

.wrap_bag {
  height: 3.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgb(249, 250, 192);
  margin: 0 0.5rem;
  border-radius: 0.325rem;
  border-bottom: 2px solid #555;
  height: 5.2rem;
  p {
    margin: 0;
    margin-bottom: 0.5rem;
    font-size: 1em;
    font-weight: bold;
  }
}
._bag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  h1 {
    margin: 0;
    font-size: 1.25em;
    font-weight: bold;
  }
}